.main {
  background-image: url("https://res.cloudinary.com/dizynfu2h/image/upload/v1701132982/website%20images/gradient-summer-illustration_23-2148946644_xefsd6.jpg");
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  background-color: #01010b80;
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2rem;
}

.main h1 {
  color: var(--color-bg);
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0 1rem;
  font-weight: 500;
}

.flexContainer {
  width: 98%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subMain {
  background-image: url("https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8633.jpg?w=740&t=st=1700675780~exp=1700676380~hmac=c40f3080a98f14f35ccda29dbb294959c3e2ba38707e83da68e4db07858f6298");
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1rem;
}
.subMainThird {
  background-image: url("https://res.cloudinary.com/dizynfu2h/image/upload/v1701133055/website%20images/mountains-landscape-during-sunset-background-with-lake-sunlit-dark-peaks-flat-vector-illustration_1284-75780_pmzlre.jpg");
  height: 61vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 1rem;
}

.subMainThird h1 {
  color: var(--color-bg);
  font-weight: 500;
}

.subMain h1 {
  color: var(--color-bg);
  font-weight: 500;
}

.subMainThird p {
  color: var(--color-bg);
  margin: 0;
}

.socialIcon {
  position: relative;
  top: 30%;
  margin-left: 1rem;
}

.SecondPageContainer h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SecondPageContainer img {
  width: 100%;
}

@media (max-width: 600px) {
  .overlay {
    height: 50vh;
    
  }
}
