@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
  --font-family: "Work Sans", sans-serif;
  --paragraph-size: 1rem;
  --heading-size: 2rem;
  --color-bg: #ffffff;
  --color-bg-black: #000000;
  --color-bg-green: #14a800;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 1rem 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.home-btn {
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: 2px solid var(--color-bg);
  background-color: transparent;
  color: var(--color-bg);
  text-transform: uppercase;
  font-family: var(--font-family);
  cursor: pointer;
  margin-left: 1rem;
}

.home-btn:hover {
  background-color: var(--color-bg);
  transition: 0.3s ease-in-out all;
  color: var(--color-bg-black);
}


.white-space{
  padding: 1.72rem;
  background-image: linear-gradient(to right,#ffffff,#ffffff,#ffffffbb,#ffffffbb, #ffffffbb);
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  backdrop-filter: blur(20px);
}