@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
  --font-family: "Work Sans", sans-serif;
  --paragraph-size: 1rem;
  --heading-size: 2rem;
  --color-bg: #ffffff;
  --color-bg-black: #000000;
  --color-bg-green: #14a800;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 1rem 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.home-btn {
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: 2px solid var(--color-bg);
  background-color: transparent;
  color: var(--color-bg);
  text-transform: uppercase;
  font-family: var(--font-family);
  cursor: pointer;
  margin-left: 1rem;
}

.home-btn:hover {
  background-color: var(--color-bg);
  transition: 0.3s ease-in-out all;
  color: var(--color-bg-black);
}


.white-space{
  padding: 1.72rem;
  background-image: linear-gradient(to right,#ffffff,#ffffff,#ffffffbb,#ffffffbb, #ffffffbb);
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  backdrop-filter: blur(20px);
}


.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  width: auto;}
.my-masonry-grid_column {
  background-clip: padding-box;
}

.add-btn{
  display: flex;
  align-items: center;
  position: fixed;
  right: .7rem;
  bottom: 1rem;
  cursor: pointer;
  background-color: var(--color-bg);
  border-radius: 10rem;
  padding: .8rem;
}

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}